---
import Header from '../../components/Header.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';

let allArticles = await Astro.glob('./**/*.{md,mdx}');
allArticles = allArticles
	.filter((post) => !post.frontmatter.draft)
	.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// page
const title = 'Articles';
const description = 'bytes of thought by Daniel Tucker.';
const author = 'dantuck';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { page } = Astro.props;
---

<html lang="en">
	<head>
		<title>{title}</title>
		<Header {title} {description} {canonicalURL.toString()} />

	</head>

	<body>
		<main>
			{allArticles.map((p) => <BlogPostPreview post={p} />)}
		</main>

		<footer>
			<a href="/about/">about {author}</a>
			<div id="reading-progress" aria-hidden="true"></div>
		</footer>
	</body>
</html>
