---
import Header from '../../components/Header.svelte';
import BaseHead from '../../components/BaseHead.astro';
import Tags from '../../components/Tags.astro';
import Footer from '../../components/Footer.svelte';

const title = 'Tags';
const description = 'bytes of thought by Daniel Tucker.';
const permalink = new URL(Astro.url.pathname, Astro.site).toString();

const allPosts = Object.values(import.meta.glob('../{article,recipe}/**/*.{md,mdx}', { eager: true }));
const filteredPosts = allPosts.filter(
  (post: any) => post.frontmatter?.tags != null && !post.frontmatter.draft
);
const allTagsUnique = [...new Set(filteredPosts.flatMap((p: any) => p.frontmatter.tags))];
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>
  <body class="bg-site-bg text-site-text font-sans">
    <Header client:only="svelte" {title} />
    <main class="max-content pt-6">
      <Tags tags={allTagsUnique} />
    </main>
    <Footer client:load transition:persist />
  </body>
</html>
