---
import '../styles/global.css';
import JsonLd from './JsonLd.astro';

const siteSchema = {
  '@context': 'https://schema.org',
  '@graph': [
    {
      '@type': 'WebSite',
      url: 'https://www.dantuck.com/',
      name: 'dantuck.com',
    },
    {
      '@type': 'Person',
      name: 'Daniel Tucker',
      url: 'https://www.dantuck.com/',
      sameAs: [
        'https://github.com/dantuck/',
        'https://www.linkedin.com/in/dantuck/',
        'https://gitlab.com/dantuck/',
      ],
    },
  ],
};

export interface Props {
  title: string;
  description: string;
  permalink: string;
  image?: string;
  type?: 'website' | 'article';
}

const {
  title,
  description,
  permalink,
  image = 'https://www.dantuck.com/og/default.png',
  type = 'website',
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="/favicon/favicon-192x192.png" type="image/png">
<link rel="manifest" href="/site.webmanifest">
<meta name="theme-color" content="#f9c412">
<meta name="robots" content="max-snippet:-1, max-image-preview: large, max-video-preview: -1">

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={permalink} />

<!-- Open Graph -->
<meta property="og:type" content={type} />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<meta name="referrer" content="no-referrer-when-downgrade">
<JsonLd schema={siteSchema} />
