---
export interface Props {
  post: any;
}
const { post } = Astro.props;
const { publishDate, title, description } = post.frontmatter
---

<article class="post-preview">
  <h2><a href={post.url}>{title}</a></h2>
  <time datetime={publishDate}>{publishDate}</time>
  <p>{description}</p>
</article>
