---
export interface Props {
  post: any;
}
const { post } = Astro.props;
const { publishDate, title, description } = post.frontmatter;
---

<article class="py-6 border-b border-site-text/15">
  <h2 class="m-0 mb-[0.2rem] text-[1.1rem]">
    <a href={post.url} class="text-primary no-underline hover:text-orange">{title}</a>
  </h2>
  <time datetime={publishDate} class="block text-site-text text-[0.8em] mb-2">{publishDate}</time>
  <p class="text-site-text text-[0.9em] leading-[1.6] m-0">{description}</p>
</article>
