---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import BlogPost from '../components/BlogPost.astro';
import Footer from '../components/Footer.svelte';

const { frontmatter } = Astro.props;
const { title, description, permalink, tags } = frontmatter;
---

<html lang={frontmatter.lang || 'en'}>
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>
  <body class="bg-site-bg text-site-text font-sans">
    <Header />
    <BlogPost {title} {tags}>
      <slot />
    </BlogPost>
    <Footer client:load />
  </body>
</html>
