---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.svelte';
import Tags from '../components/Tags.astro';
import FeedbackLink from '../components/FeedbackLink.astro';

const { frontmatter } = Astro.props;
const { ingredients, title, description, permalink, prepTime, cookTime, tags } = frontmatter;
---

<html lang={frontmatter.lang || 'en'}>
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>
  <body class="bg-site-bg text-site-text font-sans">
    <Header {title} {prepTime} {cookTime} />

    <article>
      <main class="max-content pt-6">

        {ingredients?.length > 0 && (
          <>
            <h2>Ingredients</h2>
            <ul data-ingredients>
              {ingredients.map((i: string) => (
                <li><Fragment set:html={i} /></li>
              ))}
            </ul>
          </>
        )}

        <h2>Methods</h2>
        <slot />

        {tags?.length > 0 && <Tags {tags} />}

        <FeedbackLink />
      </main>
    </article>

    <Footer client:load />
  </body>
</html>
